service : serverless-rest-api
frameworkVersion: '>=1.28.0'
provider:
  name: aws
  runtime: go1.x
  region: us-east-1
  stage: ${opt:stage}
functions:
  api:
    handler: bin/main
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors:
            origin: '*'
            headers:
              - Content-Type
            methods:
              - POST
      - http:
          path: /{proxy+}
          method: OPTIONS
          cors:
            origin: '*'
            headers:
              - Content-Type
            methods:
              - POST
package:
  patterns:
    - '!*/**'
    - bin/main